<table style="width: 100%">
    <tr style="background: #ffffff">
        <td style="width: 100%">
            <div style="text-align:right; width: 100%; text-align:right"><font style="font-size:38px"><b>Übung 3.1: Loading Data</b></font></div>
            <div style="padding-top:0px; width: 100%; text-align:right"><font size="4"><b>Programmierübung 2</b></font></div>
        </td>
    </tr>
</table>


# Loading, displaying and saving data
## Aim of this unit
Learn how to work with typical data formats in the field of medical, health and sports technology. Typical data formats are e.g. .csv and .txt files. In order to work with and process the data in the following exercises, the following skills must first be learned:
1. loading data + different data formats 
     - Numpy arrays
     - Pandas dataframes
     - Lists
2. Working with pandas
     -  Structure of dataframes
     -  Storing and Loading CSV-Files
     -  Advanced pandas
     -  Group by
     -  Operations on columns
     -  Creating new columns
     -  Simple analysis
3. Graphing data
     - Matplotlib
4. Tasks:
      1. Pandas
      2. Matplotlib

<table style="width: 100%">
    <tr style="background: #ffffff">
        <td style="width: 100%">
            <div style="text-align:right; width: 100%; text-align:right"><font style="font-size:38px"><b>1. Loading Data</b></font></div>
            <div style="padding-top:0px; width: 100%; text-align:right"><font size="4"><b>Programmierübung 2</b></font></div>
        </td>
    </tr>
</table>



# Loading data + Different data formats

Importing the used libraries
By "import numpy as np" we can call e.g. numpy functions via _numpy.functionsName_.

In [102]:
import numpy as np
import pandas as pd
import os

## Task 1.1
__Load one .csv and one .txt file each from the "ECG_Data" folder and save the file in one variable each of type Numpy Array, List and Pandas Dataframe.__

In [103]:
# define path using a string value
directory =  'EKG_Data/'
file_name = "01_Ruhe.txt"
file_name_csv = "01_Ruhe.csv"


## Open the file using the path and define a certain split character
# The files first column are Values in millivolt, second column is time in milliseconds
## Write it into a ... 
# List 
list_01 = open(directory + file_name,"r").read().split("\n")

In [104]:
list_01[0].split("\t")

['309', '13666']

✍️ **Task** 

Print the first five elements of the `list_01`
- What could the `"\t"` stand for - remember `Huber, Julian`?
- what could You do to separate the time and voltage?

In [105]:
# Print first 5 raw lines 
print("First 5 raw lines:")
for line in list_01[:5]:
    print(line)

print("First 5 lines with processing:\n")
for i in range(5):
    # Handle both cases (already split lists and raw strings)
    if isinstance(list_01[i], list):  # For lines already split into lists
        voltage, time = list_01[i]
    else:  # For lines still as strings
        voltage, time = list_01[i].strip().split("\t")
    
    print(f"Line {i+1}: Voltage: {voltage} mV, Time: {time} ms")

First 5 raw lines:
309	13666
307	13668
306	13670
304	13672
303	13674
First 5 lines with processing:

Line 1: Voltage: 309 mV, Time: 13666 ms
Line 2: Voltage: 307 mV, Time: 13668 ms
Line 3: Voltage: 306 mV, Time: 13670 ms
Line 4: Voltage: 304 mV, Time: 13672 ms
Line 5: Voltage: 303 mV, Time: 13674 ms

In [106]:
#@title ❓ Click `Show code` in the code cell to show the solution. { display-mode: "form" }

print(list_01[0:5])
list_01[0].split("\t")

['309\t13666', '307\t13668', '306\t13670', '304\t13672', '303\t13674']

['309', '13666']

In [107]:
# Looping the list to split the data in two separate lists
time = []
value = []

for line in list_01:
    _line = line.split("\t")
    value.append(int(_line[0]))
    time.append(int(_line[1]))
    
print("list_01 is of type:" +  str(type(list_01)))
print("time is of type:" +  str(type(time)))
print("value is of type:" +  str(type(value)))

list_01 is of type:<class 'list'>
time is of type:<class 'list'>
value is of type:<class 'list'>

In [108]:
time
value

[309,
 307,
 306,
 304,
 303,
 301,
 299,
 298,
 297,
 296,
 295,
 294,
 293,
 292,
 291,
 291,
 290,
 289,
 288,
 288,
 287,
 287,
 287,
 286,
 286,
 286,
 285,
 285,
 285,
 285,
 285,
 285,
 285,
 285,
 285,
 285,
 285,
 285,
 285,
 285,
 286,
 286,
 286,
 287,
 287,
 287,
 287,
 288,
 288,
 288,
 289,
 289,
 290,
 290,
 291,
 292,
 292,
 293,
 294,
 294,
 295,
 296,
 297,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 306,
 307,
 308,
 309,
 310,
 311,
 313,
 313,
 314,
 315,
 317,
 318,
 319,
 320,
 321,
 321,
 322,
 323,
 324,
 325,
 325,
 326,
 326,
 327,
 327,
 328,
 327,
 327,
 327,
 327,
 327,
 326,
 326,
 325,
 325,
 324,
 323,
 322,
 321,
 320,
 318,
 317,
 316,
 315,
 313,
 312,
 311,
 309,
 308,
 306,
 305,
 304,
 302,
 301,
 300,
 298,
 297,
 296,
 295,
 294,
 293,
 292,
 291,
 290,
 290,
 289,
 288,
 287,
 287,
 286,
 286,
 286,
 285,
 285,
 285,
 284,
 284,
 283,
 283,
 283,
 283,
 283,
 282,
 283,
 282,
 283,
 282,
 282,
 282,
 282,
 282,
 282,
 282,
 282,
 282,
 282,
 282,
 283,
 283,
 283,
 283,
 283,
 283,
 283,
 283,
 283,
 283,
 283,
 283,
 283,
 284,
 284,
 284,
 284,
 284,
 284,
 284,
 284,
 284,
 285,
 285,
 285,
 285,
 285,
 285,
 285,
 285,
 286,
 286,
 286,
 286,
 286,
 286,
 286,
 287,
 287,
 287,
 287,
 287,
 287,
 287,
 288,
 288,
 288,
 288,
 288,
 288,
 288,
 288,
 289,
 289,
 289,
 289,
 289,
 290,
 290,
 290,
 291,
 291,
 292,
 292,
 293,
 293,
 293,
 294,
 294,
 295,
 295,
 295,
 295,
 296,
 296,
 297,
 297,
 298,
 299,
 299,
 299,
 300,
 300,
 301,
 301,
 301,
 301,
 301,
 302,
 302,
 302,
 302,
 302,
 302,
 302,
 302,
 302,
 302,
 301,
 301,
 301,
 301,
 301,
 300,
 300,
 300,
 300,
 299,
 299,
 298,
 298,
 298,
 298,
 297,
 297,
 297,
 297,
 297,
 297,
 296,
 296,
 296,
 296,
 296,
 296,
 296,
 296,
 295,
 295,
 294,
 294,
 294,
 293,
 293,
 293,
 295,
 297,
 299,
 303,
 308,
 315,
 321,
 329,
 337,
 346,
 354,
 361,
 367,
 371,
 375,
 377,
 378,
 377,
 377,
 376,
 374,
 372,
 369,
 366,
 363,
 359,
 356,
 354,
 350,
 347,
 344,
 341,
 338,
 335,
 331,
 329,
 326,
 323,
 321,
 318,
 316,
 313,
 312,
 309,
 308,
 306,
 304,
 302,
 301,
 299,
 297,
 296,
 295,
 294,
 292,
 292,
 291,
 289,
 289,
 288,
 287,
 287,
 286,
 285,
 285,
 284,
 284,
 284,
 284,
 283,
 283,
 283,
 283,
 283,
 283,
 283,
 283,
 283,
 283,
 283,
 283,
 283,
 283,
 283,
 284,
 284,
 285,
 285,
 285,
 285,
 286,
 286,
 286,
 287,
 288,
 288,
 289,
 289,
 290,
 291,
 291,
 292,
 293,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 304,
 305,
 306,
 307,
 308,
 310,
 311,
 312,
 313,
 314,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 322,
 323,
 324,
 324,
 325,
 325,
 326,
 326,
 326,
 327,
 326,
 326,
 326,
 326,
 325,
 325,
 324,
 323,
 323,
 322,
 321,
 319,
 318,
 318,
 316,
 315,
 314,
 313,
 311,
 310,
 308,
 307,
 306,
 304,
 303,
 302,
 300,
 299,
 298,
 296,
 296,
 294,
 293,
 292,
 291,
 291,
 290,
 289,
 288,
 288,
 287,
 286,
 286,
 285,
 285,
 284,
 284,
 284,
 283,
 283,
 283,
 283,
 283,
 282,
 282,
 282,
 282,
 282,
 281,
 281,
 282,
 282,
 282,
 281,
 281,
 281,
 282,
 282,
 282,
 282,
 282,
 282,
 282,
 282,
 282,
 282,
 282,
 282,
 283,
 282,
 283,
 283,
 283,
 283,
 283,
 283,
 283,
 283,
 284,
 284,
 284,
 284,
 284,
 284,
 284,
 284,
 285,
 285,
 285,
 285,
 285,
 285,
 286,
 286,
 286,
 286,
 286,
 286,
 286,
 286,
 287,
 287,
 287,
 287,
 287,
 288,
 288,
 288,
 288,
 288,
 288,
 289,
 289,
 289,
 289,
 290,
 290,
 291,
 291,
 291,
 292,
 292,
 293,
 293,
 294,
 294,
 294,
 295,
 295,
 295,
 295,
 296,
 297,
 297,
 297,
 298,
 298,
 299,
 299,
 300,
 300,
 301,
 301,
 301,
 301,
 302,
 302,
 302,
 302,
 302,
 302,
 302,
 302,
 302,
 302,
 301,
 301,
 301,
 301,
 301,
 300,
 300,
 300,
 299,
 299,
 299,
 298,
 298,
 298,
 297,
 297,
 297,
 297,
 297,
 297,
 297,
 296,
 296,
 296,
 296,
 296,
 296,
 296,
 295,
 295,
 295,
 294,
 294,
 293,
 293,
 293,
 294,
 295,
 297,
 300,
 304,
 309,
 315,
 322,
 330,
 338,
 347,
 355,
 362,
 368,
 373,
 377,
 379,
 379,
 379,
 379,
 378,
 376,
 374,
 371,
 368,
 365,
 361,
 357,
 354,
 351,
 347,
 344,
 341,
 338,
 334,
 331,
 329,
 326,
 323,
 320,
 318,
 316,
 313,
 311,
 309,
 307,
 305,
 303,
 301,
 300,
 298,
 297,
 296,
 294,
 293,
 292,
 291,
 290,
 289,
 288,
 288,
 287,
 286,
 285,
 285,
 285,
 284,
 284,
 283,
 283,
 283,
 283,
 282,
 282,
 282,
 282,
 282,
 282,
 282,
 282,
 282,
 282,
 282,
 282,
 283,
 283,
 283,
 283,
 284,
 284,
 285,
 285,
 285,
 286,
 286,
 287,
 287,
 288,
 289,
 289,
 290,
 291,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 305,
 306,
 307,
 308,
 309,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 322,
 323,
 324,
 324,
 325,
 325,
 325,
 326,
 326,
 326,
 326,
 326,
 326,
 325,
 325,
 324,
 323,
 322,
 321,
 320,
 319,
 318,
 317,
 316,
 314,
 313,
 312,
 310,
 309,
 307,
 306,
 305,
 303,
 302,
 301,
 299,
 298,
 297,
 296,
 295,
 294,
 293,
 292,
 291,
 290,
 289,
 289,
 288,
 287,
 287,
 286,
 286,
 285,
 285,
 285,
 284,
 284,
 284,
 283,
 283,
 283,
 283,
 283,
 282,
 282,
 282,
 282,
 282,
 282,
 282,
 282,
 282,
 282,
 282,
 282,
 282,
 282,
 282,
 282,
 282,
 282,
 283,
 283,
 283,
 283,
 283,
 283,
 283,
 283,
 283,
 283,
 283,
 283,
 284,
 284,
 284,
 284,
 284,
 284,
 284,
 284,
 284,
 284,
 285,
 285,
 285,
 285,
 285,
 285,
 286,
 285,
 286,
 286,
 286,
 286,
 286,
 287,
 287,
 287,
 287,
 287,
 287,
 287,
 288,
 288,
 288,
 288,
 288,
 288,
 289,
 289,
 289,
 289,
 289,
 290,
 290,
 290,
 291,
 291,
 292,
 292,
 292,
 293,
 293,
 294,
 294,
 295,
 295,
 295,
 296,
 296,
 296,
 297,
 298,
 298,
 298,
 299,
 299,
 300,
 300,
 301,
 301,
 301,
 302,
 302,
 302,
 302,
 303,
 303,
 303,
 303,
 303,
 303,
 303,
 302,
 303,
 302,
 302,
 302,
 302,
 301,
 301,
 301,
 300,
 300,
 300,
 299,
 299,
 299,
 299,
 298,
 298,
 298,
 298,
 298,
 298,
 297,
 297,
 297,
 297,
 297,
 297,
 297,
 297,
 296,
 296,
 296,
 296,
 295,
 294,
 294,
 294,
 294,
 294,
 296,
 298,
 302,
 306,
 311,
 318,
 326,
 334,
 342,
 351,
 ...]

In [109]:
# Numpy Array
array_01_test = np.array(list_01)

print("array_01_test is of type:" +  str(type(array_01_test)))
# The array is still containing the "\t" separator, instead we could use the two lists "value","time" and stack them into one array... input has to be a tupel 
array_01 = np.column_stack((time, value)) 
print("after stacking the two list in one array it is of type:" + str(type(array_01)))

array_01_test is of type:<class 'numpy.ndarray'>
after stacking the two list in one array it is of type:<class 'numpy.ndarray'>

In [110]:
array_01_test

array(['309\t13666', '307\t13668', '306\t13670', ..., '298\t633011',
       '299\t633013', '300\t633015'], shape=(304837,), dtype='<U10')

✍️ **Task**  

Try to load the list_01 directly into a data frame: `df_01 = pd.DataFrame(list_01)`

In [111]:
df_01 = pd.DataFrame(list_01)
print("df_01 is of type:" +  str(type(df_01)))

df_01 is of type:<class 'pandas.core.frame.DataFrame'>

In [112]:
#@title ❓ Click `Show code` in the code cell to show the solution. { display-mode: "form" }
df_01 = pd.DataFrame(list_01)

In [113]:
# Pandas dataframe
print("df_01 is of type:" +  str(type(df_01)))

print("the first 5 rows of the dataframe look like this: ")
print(df_01.head())

df_01 is of type:<class 'pandas.core.frame.DataFrame'>
the first 5 rows of the dataframe look like this:
            0
0  309\t13666
1  307\t13668
2  306\t13670
3  304\t13672
4  303\t13674

In [114]:
df_01

                  0
0        309\t13666
1        307\t13668
2        306\t13670
3        304\t13672
4        303\t13674
...             ...
304832  296\t633007
304833  297\t633009
304834  298\t633011
304835  299\t633013
304836  300\t633015

[304837 rows x 1 columns]

## Task 1.2

Notice, that the dataframe still contains the tabulator "\t" in it. There is a easier and more elegant way than using "open" and converting it into a list first.

✍️ **Task**  
Look up the pandas function __"pd.read_csv"__ and use it, to load the txt. and .csv file into a dataframe. Please also add a header with the column names :`"Amplitude in [mV]" ,"Time in [ms]"`

In [119]:
# Load CSV with headers
df_ruhe_01 = pd.read_csv(
    directory + file_name,
    sep='\t',
    header=None,  # No existing headers in file
    names=["Amplitude in [mV]", "Time in [ms]"]  # Your custom column names
)

print(df_ruhe_01.head())

   Amplitude in [mV]  Time in [ms]
0                309         13666
1                307         13668
2                306         13670
3                304         13672
4                303         13674

In [117]:
#@title ❓ Click `Show code` in the code cell to show the solution. { display-mode: "form" }

df_ruhe_01 = pd.read_csv(directory + file_name, sep='\t')
print(df_ruhe_01.head())

# for csv file
column_names = ["Amplitude in [mV]" ,"Time in [ms]"]
df_ruhe_01_csv = pd.read_csv(directory + file_name_csv, sep=';',header=None, names= column_names)
df_ruhe_01_csv.head()

   309  13666
0  307  13668
1  306  13670
2  304  13672
3  303  13674
4  301  13676

   Amplitude in [mV]  Time in [ms]
0                309         13666
1                307         13668
2                306         13670
3                304         13672
4                303         13674

## Task 1.3

The pandas built-in loading function is very powerful, since it can be modified by multiple input parameters in the function.

✍️ **Task** 
Use the function with all its capabilities, given the following csv file __TrackManData__ in the Data folder. The goal is to extract the ```Attack Angle, Ball Speed, Impact Offset, Impact Height and the Tags```. Please use following parameters ```header, usecols, skiprows``` to delete the first (0) row and use the second (1) row as header. Also the row, containing the units for the data, should be deleted.

In [120]:
path = 'Data/TrackManData.csv'
column_names = ["Date" ,"Ball Speed","Attack Angle", "Impact Offset", "Impact Height", "Tags"]
df = pd.read_csv(path, sep=',', header=1, usecols= column_names, skiprows=[2])
df

,Date,Attack Angle,Ball Speed,Impact Offset,Impact Height,Tags
0,07/03/2023 11:13:07,-3.2,99.411686,-7.491821,5.623008,S01
1,07/03/2023 11:13:27,-3.8,88.652246,-2.598809,13.469382,S01
2,07/03/2023 11:13:45,-5.0,95.383635,-12.938655,4.380596,S01
3,07/03/2023 11:14:05,-7.0,77.429537,-24.977253,-0.892102,S01
4,07/03/2023 11:14:14,-6.2,85.826995,-14.545176,-3.636012,S01
...,...,...,...,...,...,...
630,07/03/2023 19:11:52,-4.6,100.315408,2.536391,7.523918,S27
631,07/03/2023 19:11:59,-6.0,102.087509,-3.898698,-0.810778,S27
632,07/03/2023 19:12:07,-3.8,98.375313,-0.033804,10.371121,S27
633,07/03/2023 19:12:14,-5.0,100.832588,-0.281904,1.514000,S27
634,07/03/2023 19:12:22,-4.2,106.901620,2.414463,4.642359,S27

In [ ]:
#@title ❓ Click `Show code` in the code cell to show the solution. { display-mode: "form" }

path = 'Data/TrackManData.csv'
column_names = ["Date" ,"Ball Speed","Attack Angle", "Impact Offset", "Impact Height", "Tags"]
df = pd.read_csv(path, sep=',', header=1, usecols= column_names, skiprows=[2])
df

# 🏁 Recap Loading Data

- If you have finished the tasks and have no questions, start with the exercice provided on SAKAI.
- If you have finished the tasks but would like to discuss the solutions together again, please tell your teacher!

<table style="width: 100%">
    <tr style="background: #ff9900">
        <td style="width: 100%">
            <div style="text-align:center; width: 100%; text-align:center"><font style="font-size:38px"><b>Good Job!</b></font></div>
            <div style="padding-top:0px; width: 100%; text-align:right"><font size="4"><b>SoSe 2023</b></font></div>
        </td>
    </tr>
</table>